<div id="kwic-container"></div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/Kwic/LineOperations.jsx"></script>
    <script type="text/javascript" src="~/Scripts/Kwic/OutputField.jsx"></script>
    <script type="text/javascript" src="~/Scripts/Kwic/Alphabetizer.jsx"></script>
    <script type="text/javascript" src="~/Scripts/Kwic/CircularShift.jsx"></script>
    <script type="text/javascript" src="~/Scripts/Kwic/LineField.jsx"></script>
    <script type="text/javascript" src="~/Scripts/Kwic/InputField.jsx"></script>
    <script type="text/javascript" src="~/Scripts/Kwic/KwicContainer.jsx"></script>

}